<div>
    <ul class="d-flex">
        <li >
            <div routerLink="fromevent" class="card p-2 m-2 ">
                <h3 class="card-title">from event</h3>
                <div class="card-body">
                    <p class="card-title">Form Event</p>
                    <button class="btn btn-primary">Click</button>
                </div>
        
            </div>
        </li>
        <li >
            <div routerLink="interval" class="card p-2 m-2 ">
                <h3 class="card-title">Interval</h3>
                <div class="card-body">
                    <p class="card-title">Interval</p>
                    <button class="btn btn-primary">Click</button>
                </div>
        
            </div>
        </li>
        <li >
            <div routerLink="timer" class="card p-2 m-2 ">
                <h3 class="card-title">timer</h3>
                <div class="card-body">
                    <p class="card-title">timer</p>
                    <button class="btn btn-primary">Click</button>
                </div>
        
            </div>
        </li>
        <li >
            <div routerLink="map" class="card p-2 m-2 ">
                <h3 class="card-title">map</h3>
                <div class="card-body">
                    <p class="card-title">map</p>
                    <button class="btn btn-primary">Click</button>
                </div>
        
            </div>
        </li>
        <li >
            <div routerLink="toarray" class="card p-2 m-2 ">
                <h3 class="card-title">to array</h3>
                <div class="card-body">
                    <p class="card-title">to array</p>
                    <button class="btn btn-primary">Click</button>
                </div>
        
            </div>
        </li>
        <li >
            <div routerLink="filter" class="card p-2 m-2 ">
                <h3 class="card-title">filter</h3>
                <div class="card-body">
                    <p class="card-title">filter</p>
                    <button class="btn btn-primary">Click</button>
                </div>
        
            </div>
        </li>
        <li >
            <div routerLink="custom" class="card p-2 m-2 ">
                <h3 class="card-title">custom</h3>
                <div class="card-body">
                    <p class="card-title">custom</p>
                    <button class="btn btn-primary">Click</button>
                </div>
        
            </div>
        </li>
    </ul>
</div>